* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body {
    padding: 120px 0;
}

.container {
    width: 1200px;
    padding: 50px 0;
    margin: 0 auto;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.9;
    width: 100%;
    height: 90px;
    background: linear-gradient(to right, #b34513, #c54104);
    box-shadow: 0 6px #410808;
}

header .container {
    display: flex;
    width: 90%;
    padding: 0;
}

.header-title {
    display: block;
    width: 240px;
    color: white;
    font-size: 48px;
    line-height: 90px;
    letter-spacing: 2px;
    text-align: center;
}

.header-title:hover {
    background: #410808;
    transition: all 1s;
}
.task {
    display: flex;
    background: linear-gradient(to right, #b34513, #c54104);
    width: 1320px;
    height: 90px;
    padding: 0 30px;
    border-left: 20px solid #08132b;
    border-radius: 10px;
    margin: 30px auto;
    box-shadow: 5px 5px #17184b;
}

.task::before {
    position: relative;
    top: 14px;
    left: 1317px;
    float: left;
    background: white;
    width: 60px;
    height: 60px;
    border-left: 6px solid #08132b;
    border-bottom: 6px solid #08132b;
    border-radius: 5px;
    content: '';
    transform: rotate(42deg);
}

.task-title {
    color: white;
    font-size: 54px;
    line-height: 90px;
    letter-spacing: 2px;
}

.arrow {
    margin-left: auto;
}

.arrow i {
    background: white;
    margin: 15px 30px;
    border-radius: 50%;
    box-shadow: 3px 3px #17184b;
    color: #192f60;
    font-size: 60px;
}

.arrow i:hover {
    background: #192f60;
    color: white;
    transition: all 1s;
}

.arrow i:active {
    position: relative;
    top: 3px;
    left: 0;
    border: none;
}

/* 2 */
/*
p {
    color: red;
}
*/

h1 {
    color: green;
    text-align: center;
}

h2 {
    color: blue;
    width: 300px;
}

h3 {
    color: orange;
}

table {
    width: 400px;
    height: 200px;
}

h1 {
    margin: 0 auto;
}

h2 {
    margin-left: auto;
}

p{
    text-align: justify;
}

th {
    text-align: left;
}

td {
    text-align: center;
    font-weight: 800;
}

h1 {
    font-weight: 400;
}

h1, h2, th {
    font-weight: lighter;
}

h2 {
    font-style: italic;
}

/* 20 */
/*
p {
    font-style: italic;
}
/* <p style="font-style: normal;">p 1<p> */

h2 {
    font-size: 20px;
}

/* 22 */
/*
p {
    font-size: 15px;
}

/* 23 */
/*
p {
    font-family: Arial;
}
*/

h2 {
    font-family: 'Times New Roman';
}

h3 {
    font-family: sans-serif;
}

/* 26 */
/*
p {
    line-height: 30px;
} */

p {
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    line-height: 30px;
}
h1 {
    font-weight: lighter;
    font-size: 20px;
    font-family: Verdana;
}
p {
    text-indent: 30px;
}

/* 31 */
/* <p style="text-indent: 0">p 2</p> */

table {
    writing-mode: vertical-rl;
}

th, td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}

.btn {
    position: relative;
    display: block;
    background: #770f0f;
    width: 400px;
    height: 100px;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0 5px #410808;
    color: white;
    font-size: 50px;
    line-height: 100px;
    text-decoration: none;
    text-align: center;
}

.btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.btn::before {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: -100%;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    width: 50%;
    height: 100%;
    transform: skewX(-25deg);
}

.btn:hover::before {
    display: block;
    animation: shine 0.7s;
}

@keyframes shine {
    100% {
        left: 150%;
    }
}

.grid {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 100px 1fr 100px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}

.A {
    background: red;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}

.B {
    background: blue;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.C {
    background: green;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.D {
    background: skyblue;
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}

.E {
    background: orange;
    grid-row: 3 / 5;
    grid-column: 3 / 4;
}

.F {
    background: purple;
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}

form {
    background: #808080;
    width: 300px;
    padding: 100px 100px;
    border-radius: 25px;
    margin: 0 auto;
    color: white;
}

label, input {
    display: block;
    font-size: 32px;
    line-height: 32px;
}

label {
    margin-bottom: 5px;
}

input {
    width: 280px;
    padding: 0 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    outline: none;
}

form .btn {
    width: 250px;
    height: 75px;
    margin-top: 50px;
    font-size: 36px;
    line-height: 75px;
}

.menu-btn {
    display: flex;
    width: 120px;
    height: 90px;
    justify-content: center;
    align-items: center;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 7px;
    width: 45px;
    border-radius: 7px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 15px;
}

.menu-btn span:after {
    top: 15px;
}

.menu-btn:hover {
    opacity: 0.7;
    transition: all .5s;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    transition: all .5s;
}

#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    transition: all .5s;
}

#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
    transition: all .5s;
}

.menu-content {
    position: fixed;
    top: -200%;
    left: 0;
    z-index: 1;
    background: linear-gradient(to bottom, #b34513, #c54104);
    opacity: 0.9;
    width: 100%;
    height: 100vh;
    transition: all 0.5s;
}

.menu-btn-close {
    display: flex;
    width: 120px;
    height: 90px;
    margin-left: auto;
    margin-right: 1vh;
    justify-content: center;
    align-items: center;
}

.menu-btn-close span::before,
.menu-btn-close span::after {
    content: '';
    display: block;
    height: 7px;
    width: 45px;
    border-radius: 7px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn-close span::before {
    transform: rotate(45deg);
}

.menu-btn-close span::after {
    transform: rotate(-45deg);
}

.menu-btn-close:hover {
    opacity: 0.7;
    transition: all .5s;
}

#menu-btn-check:checked ~ .menu-content {
    top: 0;
}

.nav-menu {
    width: 500px;
    margin: 20vh auto;
}

.nav-menu a {
    display: block;
    color: white;
    font-size: 8vh;
    text-align: center;
}

.nav-menu a:hover {
    opacity: 0.5;
    transition: all .5s;
}

.carousel {
    display: flex;
    width: 700px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel img {
    margin: 0;
    padding: 0;
    display: block;
}
@keyframes scroll {
    0% { margin-left: 0; }
    20% { margin-left: -100%; }
    30% { margin-left: -100%; }
    50% { margin-left: -200%; }
    60% { margin-left: -200%; }
    80% { margin-left: -300%; }
    90% { margin-left: -300%; }
    100% {margin-left: 0;}
}
.carousel > :first-child {
    animation-name: scroll;
    animation-duration: 20s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.wall {
    display: flex;
    align-items: center;
    background: green;
    height: 300px;
}
.ball {
    background: #aacf53;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation-name: bound;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes bound {
    50% {
        margin-left: 90%;
        opacity: 0;
    }
    100% {
        margin-left: 0;
    }
}

.Units-table {
    writing-mode: inherit;
}
.Units-table th {
    text-align: center;
}